@use "../breakpoints";
@use "../typography";

.nav {
  display: flex;
  font-size: typography.$medium;
  font-weight: bold;
  justify-content: flex-end;
  margin-bottom: 35px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 35px;
      }
    }
  }
}

.container {
  section {
    margin-bottom: 150px;

    @media only screen and (max-width: breakpoints.$tablet) {
      margin-bottom: 50px;
    }
  }
}

.hero {
  align-items: center;
  display: flex;
  justify-content: space-between;

  img {
    max-width: 45%;
  }

  h1 {
    font-size: typography.$title;
    margin: 0;
  }

  p {
    font-size: typography.$large;
  }

  @media only screen and (max-width: breakpoints.$tablet) {
    flex-direction: column;

    img {
      max-width: 100%;
    }
  }
}

.about {
  text-align: center;

  p {
    font-size: typography.$medium;
  }
}

.methods {
  display: flex;
  font-size: typography.$medium;
  text-align: center;
  margin-bottom: 0 !important;

  div {
    align-items: center;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: breakpoints.$tablet) {
      margin: 35px;
    }
  }

  img {
    max-width: 100%;
  }

  @media only screen and (max-width: breakpoints.$tablet) {
    flex-direction: column;
  }
}

.bumpBottom {
  margin-bottom: 100px;

  @media only screen and (max-width: breakpoints.$tablet) {
    margin-bottom: 50px;
  }
}
