@use "../typography";

.link {
  align-items: center;
  color: var(--link);
  display: inline-flex;
  font-size: typography.$medium;

  svg {
    margin: 0 10px;
  }
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
